.home .banner {
    /* The image used */
    background-image:url("./../../assets/images/graduation.jpg");
    background-size:contain;
    background-position-x: center;
    background-repeat: no-repeat;
  }

.registerImg{
  background-image:url("./../../assets/images/stars.jpg");
  background-size:cover;
  background-position-x: center;
  background-repeat: no-repeat;
}