.basicForm .main-container-fluid{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    background-image: linear-gradient(79deg, #fcfced, #fcedfc 48%, #ebf6ff);
}

.basicForm .sub-main{
    display: flex;
    justify-content: center;
    height: 550px;
    width: 35%;
    box-shadow: 10px 12px 13px 12px burlywood;
    padding-top: 30px;
    border-radius: 60px;
    background-color:khaki;

}


/* .basicForm .btn.btn-info{
    padding-top: 15px;
    margin-left: 20px;
    height: 2px;
    width: 8px;

} */

.basicForm .register{
    margin-left: 8px;
    margin-top: 5px;
}

.basicForm label {
    text-align: left;
    padding: 0.25rem 0;
}

.basicForm input {
    margin: 0.5rem 0;
}

.basicForm button {
    border: none;
    padding: 20px;
    border-radius: 10px;

}
.basicForm .userpic{
    width:3vw;
    height:5vh;
}